<%- include('partials/header') %>

<div class="container py-5">
    <div class="row m-0">
        <div class="col-md-5">
            <form action="/update/<%= data.id %>" method="POST" class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="<%= data.name %>">
                    </div>
                    <div class="form-group my-3">
                        <input type="text" class="form-control" name="address" placeholder="Address" value="<%= data.address %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" placeholder="Phone" value="<%= data.phone %>">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Update Customer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer') %>
